html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle {
    align-items: center;
    display: flex;
    padding: 18px 16px;
}

.underlined {
  text-decoration: underline;
  color: #0a81c2;
}