.filtro {
  margin-top: 20px;
  /* gap: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filtro h3 {
  cursor: pointer;
}

.card {
  margin-bottom: 10px;
}

.card a {
  color: var(--rs-navbar-default-text);
}

.lorem {
  max-width: 500px;
  font-size: 2.2rem;
  padding: 1rem;
}

.lorem h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 5rem;
}

.rs-carousel {
  height: auto;
}

 @media (max-width: 4000px) { 
  .grid {
    margin: 40px;
    padding-top: 35px;
  }
  .panel {
    height: 470px;
  }
 }

 @media (max-width: 1200px) { 
  .grid {
    margin: 20px;
    padding-top: 30px;
  }
  .panel {
    height: 450px;
  }

  .lorem p {
    line-height: 1.2;
  }
 }

 @media (max-width: 925px) { 
  .grid {
    margin: 10px;
    padding-top: 10px;
  }
  .panel {
    height: 420px;
  }

  .lorem {
    display: none;
  }

 }

 @media (max-width: 575px) { 
  .grid {
    margin: 10px;
    padding-top: 10px;
  }
  .panel {
    height: 100%;
  }
 }

 @media (max-width: 510px) {
  .grid {
    margin: 6px;
    padding-top: 6px;
  }
  .filtro h3 {
    font-size: 2.1rem;
  }
  .panel {
    height: 100%;
  }
  ._head {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
 }

 @media (max-width: 410px) {
  .grid {
    margin: 6px;
    padding-top: 6px;
  }
  .filtro h3 {
    font-size: 1.5rem;
  }
  .panel {
    height: 100%;
  }
  ._head {
    display: none;
  }
  .nav_news {
    display: none;
  }
  .nav_about {
    display: none;
  }
 }